.nav1{
    opacity: 55%;
}
.parallax-container {
    height: 750px;
}
.zz1{
padding-top: 200px;
}

.img1{
width: 500px;

}
.div1{
    padding: 80px;
}


.img1{
  
   flex-wrap: nowrap;
}

.img1{
  
    margin-top: 100px;
    
}



.href{
 
 
  padding: 20px;
}

.hr1{
  width: 350px;
}

.btn1{
  position: sticky;
 margin-top: 50px;
  
}


.back{
  background-image: url(../img/2.jpg);
 background-size: cover;
}
.circle{
 width: 150px;
height: 10px;
border-radius: 50%;

} 


.section-2{
  background-color: rgb(192, 187, 187);
} 


.zz7{
  display: grid;
  justify-content: center;
 
}

.zz8{
padding-bottom: 50px;
 
}

.icon1{
 width: 30px;
}

.img9{
  border: 6px double rgb(214, 210, 210);
 
}

.zn{
  padding-bottom: 20px;
}

.button12{
  margin-top: 20px;
}
.ff{
padding-top: 80px;

}


  
  .zn2{
    padding-left: 10px;
  }
  
  