.nav1{
    opacity: 55%;
}
.parallax-container {
    height: 750px;
}
.zz1{
padding-top: 200px;
}

.img1{
width: 500px;

}
.div1{
    padding: 80px;
}


.img1{
  
   flex-wrap: nowrap;
}

.img1{
  
    margin-top: 100px;
    
}



.href{
 
 
  padding: 20px;
}

.hr1{
  width: 350px;
}

.btn1{
  position: sticky;
 margin-top: 50px;
  
}


.back{
  background-image: url(../img/2.jpg);
 background-size: cover;
}

